.container
  .row-fluid
    .col-xs-12
      .row
        .col-xs-12
          .panel.panel-default
            .panel-heading Course Types
            .panel-body
              %table.table.table-striped
                %tr
                  %th Name
                  %th Description
                - @course_types.each do |ct|
                  %tr
                    %td= ct.name
                    %td= ct.description 
