.container
  .row-fluid
    .col-xs-12
      .row
        .col-xs-12
          .row
            .col-md-4.col-sm-6.col-xs-12
              %a.nav-link.fa-nav-link{:href => "#{course_types_path}"}
                .panel.panel-default
                  .panel-body
                    .row
                      .col-xs-12
                        %center
                          %i.fa.fa-cutlery.fa-5x
                      .col-xs-12
                        %center
                          ="Edit Courses"
            .col-md-4.col-sm-6.col-xs-12
              %a.nav-link.fa-nav-link{:href => "#{cuisine_categories_path}"}
                .panel.panel-default
                  .panel-body
                    .row
                      .col-xs-12
                        %center
                          %i.fa.fa-flag.fa-5x
                      .col-xs-12
                        %center
                          ="Edit Cuisine Categories"
            .col-md-4.col-sm-6.col-xs-12
              %a.nav-link.fa-nav-link{:href => "#{regions_path}"}
                .panel.panel-default
                  .panel-body
                    .row
                      .col-xs-12
                        %center
                          %i.fa.fa-globe.fa-5x
                      .col-xs-12
                        %center
                          ="Edit Regions"
            .col-md-4.col-sm-6.col-xs-12
              %a.nav-link.fa-nav-link{:href => "#{ingredients_path}"}
                .panel.panel-default
                  .panel-body
                    .row
                      .col-xs-12
                        %center
                          %i.fa.fa-flask.fa-5x
                      .col-xs-12
                        %center
                          ="Edit Ingredients" 


