.col-xs-12
  %li.nav-item.active
    %a.nav-link.fa-nav-link{:href => "/"}
      %span.fa-span
        %i.fa.fa-home.fa-lg 
        .fa-text Home
  %li.nav-item
    %a.nav-link.fa-nav-link{:href => "#{recipes_path}"}
      %span.fa-span
        %i.fa.fa-book.fa-lg 
        .fa-text Recipes
  %li.nav-item
    %a.nav-link.fa-nav-link{:href => "/create_new"}
      %span.fa-span
        %i.fa.fa-plus-square.fa-lg 
        .fa-text Create New...
  %li.nav-item
    %a.nav-link.fa-nav-link{:href => "/admin"}
      %span.fa-span
        %i.fa.fa-thermometer.fa-lg 
        .fa-text Admin

